html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-family: PingFangSC-Regular, PingFang SC;
}